.about {
    background-color: var(--bg-main-gary);
    text-align: center;
    padding: 60px 30px 100px 30px;
    color: var(--color-black);

}

.about-title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 43px 0;
}

.about-subtitle-ru,
.about-subtitle-en {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
    margin: 0 auto 11px auto;
    max-width: 780px;
   
}

.about-discription-ru,
.about-discription-en {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
    margin: 0 auto 15px auto;
    text-align: justify;
    max-width: 780px;
}

.about-discription-en {
    margin: 0 auto;
}

.about-subtitle-en {
    margin: 15px auto 15px;
}

@media(max-width:480px) {

    .about-subtitle-ru,
    .about-subtitle-en,
    .about-discription-ru,
    .about-discription-en {
        font-size: 14px;
       
    }
}