.portfolio {
    text-align: center;
    background-color: var(--bg-main-gary);
    color: var(--color-black);
    padding: 79px 20px 107px 30px;
}

.portfolio-title{
    font-size: 34px;
    margin: 0 0 76px;
}
.portfolio-img {
    margin: 0 0 39px;
    width: min(100%, 950px);
    height: min(100%, 630px);
    object-fit: contain;
}

.portfolio-discription {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 95px;
}

@media(max-width:480px){
    .portfolio-discription{
        font-size: 14px;
    }

    .portfolio {
        padding: 41px 30px 50px 30px;
    }
    
    .portfolio-discription {
        margin: 0 0 50px;
    }
}